ts/**/*.js
ts/**/*.js.map
.vscode
/_includes.js
*.map
*.dll
*.pdb
*.user
/obj/Debug/SpaceCommand.csproj.FileListAbsolute.txt
/node_modules/.bin/r.js
/node_modules/.bin/r.js.cmd
/node_modules/.bin/r_js
/node_modules/.bin/r_js.cmd
/node_modules/requirejs/bin/r.js
/bin/SpaceCommand.dll.config
/node_modules/requirejs/require.js
*.cache
/node_modules/requirejs/README.md
/node_modules/requirejs/package.json
/.vs/config/applicationhost.config
*.suo
/main.js
